<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create file</title>
    </head>
<body>
    <form method="post">
        <label for="Title">Title  :</label>
        <br>
        <input type="text" name="title" value="">
        <br>
        <br>
        <label for="question">Question  :</label>
        <br>
        <input type="text" name="question" value="">
        <br>
        <br>
        <label for="answer">Answer  :</label>
        <br>
        <input type="text" name="answer" value="">
        <br>
        <br>
        <button type="sybmit" name="submit">submit</button>
    </form>
    </body>
</html>
